
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="description" content="{{site.description}}"/>
<meta name="author" content="{{site.author}}"/>
<title>{{ site.title }} &mdash; {{ page.url }}</title>
<link rel="stylesheet" href="/css/main.css" type="text/css"/>
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}"/>
<link rel="shortcut icon" type="image/png" href="favicon.png"/>