<div class="item writing" id="2019-08-11">●</div>
<div class="item writing" id="2019-08-12">●</div>
<div class="item writing" id="2019-08-13">●</div>
<div class="item writing" id="2019-08-14">●</div>
<div class="item none" id="2019-08-15">●</div>
<div class="item writing" id="2019-08-16"></div>
<div class="item none" id="2019-08-17"></div>
<div class="item none" id="2019-08-18">●</div>
<div class="item none" id="2019-08-19">●</div>
<div class="item writing" id="2019-08-20"></div>
<div class="item none" id="2019-08-21"></div>
<div class="item none" id="2019-08-22"></div>
<div class="item none" id="2019-08-23">●</div>
<div class="item none" id="2019-08-24">●</div>
<div class="item writing" id="2019-08-25">●</div>
<div class="item writing" id="2019-08-26">●</div>
<div class="item writing" id="2019-08-27">●</div>
<div class="item writing" id="2019-08-28">●</div>
<div class="item writing" id="2019-08-29">●</div>
<div class="item none" id="2019-08-30">●</div>
<div class="item writing" id="2019-08-31">●</div>
<div class="item writing" id="2019-09-01">●</div>
<div class="item writing" id="2019-09-02"></div>
<div class="item writing" id="2019-09-03"></div>
<div class="item none" id="2019-09-04"></div>
<div class="item none" id="2019-09-05">●</div>
<div class="item none" id="2019-09-06"></div>
<div class="item none" id="2019-09-07"></div>
<div class="item none" id="2019-09-08"></div>
<div class="item none" id="2019-09-09"></div>
<div class="item none" id="2019-09-10"></div>
<div class="item none" id="2019-09-11"></div>
<div class="item audio" id="2019-09-12"></div>
<div class="item audio" id="2019-09-13"></div>
<div class="item audio" id="2019-09-14"></div>
<div class="item audio" id="2019-09-15"></div>
<div class="item none" id="2019-09-16"></div>
<div class="item none" id="2019-09-17"></div>
<div class="item writing" id="2019-09-18"></div>
<div class="item none" id="2019-09-19">●</div>
<div class="item none" id="2019-09-20">●</div>
<div class="item none" id="2019-09-21"></div>
<div class="item writing" id="2019-09-22"></div>
<div class="item none" id="2019-09-23"></div>
<div class="item none" id="2019-09-24">●</div>
<div class="item none" id="2019-09-25"></div>
<div class="item visual" id="2019-09-26"></div>
<div class="item none" id="2019-09-27"></div>
<div class="item none" id="2019-09-28"></div>
<div class="item none" id="2019-09-29">●</div>
<div class="item writing" id="2019-09-30"></div>
<div class="item none" id="2019-10-01"></div>
<div class="item none" id="2019-10-02"></div>
<div class="item none" id="2019-10-03"></div>
<div class="item none" id="2019-10-04"></div>
<div class="item none" id="2019-10-05"></div>
<div class="item writing" id="2019-10-06"></div>
<div class="item none" id="2019-10-07"></div>
<div class="item audio" id="2019-10-08"></div>
<div class="item audio" id="2019-10-09">●</div>
<div class="item writing" id="2019-10-10">●</div>
<div class="item writing" id="2019-10-11">●</div>
<div class="item none" id="2019-10-12"></div>
<div class="item none" id="2019-10-13"></div>
<div class="item none" id="2019-10-14"></div>
<div class="item none" id="2019-10-15"></div>
<div class="item none" id="2019-10-16"></div>
<div class="item none" id="2019-10-17">●</div>
<div class="item none" id="2019-10-18"></div>
<div class="item audio" id="2019-10-19"></div>
<div class="item none" id="2019-10-20">●</div>
<div class="item none" id="2019-10-21"></div>
<div class="item none" id="2019-10-22"></div>
<div class="item audio" id="2019-10-23"></div>
<div class="item audio" id="2019-10-24"></div>
<div class="item none" id="2019-10-25"></div>
<div class="item audio" id="2019-10-26">●</div>
<div class="item none" id="2019-10-27"></div>
<div class="item audio" id="2019-10-28"></div>
<div class="item audio" id="2019-10-29"></div>
<div class="item audio" id="2019-10-30"></div>
<div class="item audio" id="2019-10-31"></div>
<div class="item none" id="2019-11-01"></div>
<div class="item none" id="2019-11-02"></div>
<div class="item audio" id="2019-11-03"></div>
<div class="item none" id="2019-11-04"></div>
<div class="item none" id="2019-11-05"></div>
<div class="item none" id="2019-11-06"></div>
<div class="item none" id="2019-11-07"></div>
<div class="item none" id="2019-11-08"></div>
<div class="item none" id="2019-11-09"></div>
<div class="item none" id="2019-11-10"></div>
<div class="item none" id="2019-11-11">●</div>
<div class="item writing" id="2019-11-12">●</div>
<div class="item writing" id="2019-11-13">●</div>
<div class="item writing" id="2019-11-14"></div>
<div class="item none" id="2019-11-15">●</div>
<div class="item none" id="2019-11-16"></div>
<div class="item none" id="2019-11-17">●</div>
<div class="item none" id="2019-11-18">●</div>
<div class="item none" id="2019-11-19"></div>
<div class="item none" id="2019-11-20"></div>
<div class="item audio" id="2019-11-21"></div>
<div class="item none" id="2019-11-22"></div>
<div class="item none" id="2019-11-23"></div>
<div class="item none" id="2019-11-24"></div>
<div class="item none" id="2019-11-25"></div>
<div class="item none" id="2019-11-26"></div>
<div class="item writing" id="2019-11-27"></div>
<div class="item writing" id="2019-11-28"></div>
<div class="item writing" id="2019-11-29"></div>
<div class="item writing" id="2019-11-30"></div>
<div class="item writing" id="2019-12-01">●</div>
<div class="item writing" id="2019-12-02">●</div>
<div class="item writing" id="2019-12-03"></div>
<div class="item writing" id="2019-12-04">●</div>
<div class="item writing" id="2019-12-05">●</div>
<div class="item writing" id="2019-12-06">●</div>
<div class="item writing" id="2019-12-07">●</div>
<div class="item writing" id="2019-12-08">●</div>
<div class="item writing" id="2019-12-09">●</div>
<div class="item writing" id="2019-12-10">●</div>
<div class="item writing" id="2019-12-11"></div>
<div class="item none" id="2019-12-12"></div>
<div class="item visual" id="2019-12-13"></div>
<div class="item none" id="2019-12-14"></div>
<div class="item none" id="2019-12-15"></div>
<div class="item visual" id="2019-12-16"></div>
<div class="item none" id="2019-12-17"></div>
<div class="item none" id="2019-12-18">●</div>
<div class="item writing" id="2019-12-19">●</div>
<div class="item none" id="2019-12-20">●</div>
<div class="item none" id="2019-12-21"></div>
<div class="item none" id="2019-12-22"></div>
<div class="item writing" id="2019-12-23"></div>
<div class="item writing" id="2019-12-24">●</div>
<div class="item writing" id="2019-12-25"></div>
<div class="item writing" id="2019-12-26"></div>
<div class="item writing" id="2019-12-27">●</div>
<div class="item writing" id="2019-12-28"></div>
<div class="item audio" id="2019-12-29">●</div>
<div class="item writing" id="2019-12-30">●</div>
<div class="item writing" id="2019-12-31"></div>
<div class="item audio" id="2020-01-01"></div>
<div class="item visual" id="2020-01-02"></div>
<div class="item none" id="2020-01-03">●</div>
<div class="item audio" id="2020-01-04"></div>
<div class="item none" id="2020-01-05"></div>
<div class="item none" id="2020-01-06"></div>
<div class="item writing" id="2020-01-07">●</div>
<div class="item writing" id="2020-01-08">●</div>
<div class="item none" id="2020-01-09">●</div>
<div class="item writing" id="2020-01-10"></div>
<div class="item none" id="2020-01-11"></div>
<div class="item none" id="2020-01-12">●</div>
<div class="item none" id="2020-01-13"></div>
<div class="item writing" id="2020-01-14">●</div>
<div class="item writing" id="2020-01-15">●</div>
<div class="item writing" id="2020-01-16">●</div>
<div class="item writing" id="2020-01-17">●</div>
<div class="item writing" id="2020-01-18">●</div>
<div class="item writing" id="2020-01-19">●</div>
<div class="item visual" id="2020-01-20"></div>
<div class="item writing" id="2020-01-21"></div>
<div class="item writing" id="2020-01-22">●</div>
<div class="item writing" id="2020-01-23">●</div>
<div class="item writing" id="2020-01-24">●</div>
<div class="item none" id="2020-01-25">●</div>
<div class="item writing" id="2020-01-26"></div>
<div class="item none" id="2020-01-27">●</div>
<div class="item writing" id="2020-01-28">●</div>
<div class="item writing" id="2020-01-29"></div>
<div class="item none" id="2020-01-30">●</div>
<div class="item writing" id="2020-01-31">●</div>
<div class="item writing" id="2020-02-01"></div>
<div class="item writing" id="2020-02-02">●</div>
<div class="item writing" id="2020-02-03">●</div>
<div class="item writing" id="2020-02-04">●</div>
<div class="item none" id="2020-02-05"></div>
<div class="item none" id="2020-02-06"></div>
<div class="item writing" id="2020-02-07">●</div>
<div class="item writing" id="2020-02-08">●</div>
