.nav
  //- h1 キャス.s&#8239;i
  .nav-links
    a(href="/") &nbsp;/
    span / 
    a(href="/posts") posts
    span / 
    a(href="/about") about
    span / 
    a(href="/contact") contact
    span / 
    a(href="/portfolio") portfolio
    span / 
    //- a(href="/store") store
    a(href="https://ftp.cass.si/") FTP
