<div class="d" id="w2019-05-01">
	<div class="audio" style="height: 0.001%"></div>
	<div class="visual" style="height: 0.631%"></div>
	<div class="writing" style="height: 97.37%"></div>
</div>
<div class="d" id="w2019-05-02">
	<div class="audio" style="height: 0.001%"></div>
	<div class="visual" style="height: 0.001%"></div>
	<div class="writing" style="height: 98%"></div>
</div>
<div class="d" id="w2019-05-03">
	<div class="audio" style="height: 0.001%"></div>
	<div class="visual" style="height: 14.29%"></div>
	<div class="writing" style="height: 85.71%"></div>
</div>
