<div class="d" id="w2019-05-14" style="height: 14.32%">
	<div class="audio" style="height: 86.49% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 13.51% "></div>
</div>
<div class="d" id="w2019-05-15" style="height: 0.39%">
	<div class="audio" style="height: 98.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 0.00% "></div>
</div>
<div class="d" id="w2019-05-16" style="height: 1.55%">
	<div class="audio" style="height: 25.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 75.00% "></div>
</div>
<div class="d" id="w2019-05-17" style="height: 1.94%">
	<div class="audio" style="height: 60.00% "></div>
	<div class="visual" style="height: 20.00% "></div>
	<div class="writing" style="height: 20.00% "></div>
</div>
<div class="d" id="w2019-05-18" style="height: 0.00%">
	<div class="audio" style="height: 1.00% "></div>
	<div class="visual" style="height: 1.00% "></div>
	<div class="writing" style="height: 1.00% "></div>
</div>
<div class="d" id="w2019-05-19" style="height: 0.00%">
	<div class="audio" style="height: 1.00% "></div>
	<div class="visual" style="height: 1.00% "></div>
	<div class="writing" style="height: 1.00% "></div>
</div>
<div class="d" id="w2019-05-20" style="height: 0.00%">
	<div class="audio" style="height: 1.00% "></div>
	<div class="visual" style="height: 1.00% "></div>
	<div class="writing" style="height: 1.00% "></div>
</div>
<div class="d" id="w2019-05-21" style="height: 1.94%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 60.00% "></div>
	<div class="writing" style="height: 40.00% "></div>
</div>
<div class="d" id="w2019-05-22" style="height: 0.77%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-05-23" style="height: 0.00%">
	<div class="audio" style="height: 1.00% "></div>
	<div class="visual" style="height: 1.00% "></div>
	<div class="writing" style="height: 1.00% "></div>
</div>
<div class="d" id="w2019-05-24" style="height: 14.32%">
	<div class="audio" style="height: 2.70% "></div>
	<div class="visual" style="height: 45.95% "></div>
	<div class="writing" style="height: 51.35% "></div>
</div>
<div class="d" id="w2019-05-25" style="height: 0.39%">
	<div class="audio" style="height: 98.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 0.00% "></div>
</div>
<div class="d" id="w2019-05-26" style="height: 24.00%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 98.00% "></div>
	<div class="writing" style="height: 0.00% "></div>
</div>
<div class="d" id="w2019-05-27" style="height: 0.77%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 98.00% "></div>
	<div class="writing" style="height: 0.00% "></div>
</div>
<div class="d" id="w2019-05-28" style="height: 2.32%">
	<div class="audio" style="height: 98.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 0.00% "></div>
</div>
<div class="d" id="w2019-05-29" style="height: 0.39%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-05-30" style="height: 0.00%">
	<div class="audio" style="height: 1.00% "></div>
	<div class="visual" style="height: 1.00% "></div>
	<div class="writing" style="height: 1.00% "></div>
</div>
<div class="d" id="w2019-05-31" style="height: 8.51%">
	<div class="audio" style="height: 13.64% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 86.36% "></div>
</div>
<div class="d" id="w2019-06-01" style="height: 48.77%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-06-02" style="height: 78.57%">
	<div class="audio" style="height: 0.99% "></div>
	<div class="visual" style="height: 1.48% "></div>
	<div class="writing" style="height: 97.54% "></div>
</div>
<div class="d" id="w2019-06-03" style="height: 85.15%">
	<div class="audio" style="height: 5.45% "></div>
	<div class="visual" style="height: 5.45% "></div>
	<div class="writing" style="height: 89.09% "></div>
</div>
<div class="d" id="w2019-06-04" style="height: 15.09%">
	<div class="audio" style="height: 5.13% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 94.87% "></div>
</div>
<div class="d" id="w2019-06-05" style="height: 3.48%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 11.11% "></div>
	<div class="writing" style="height: 88.89% "></div>
</div>
<div class="d" id="w2019-06-06" style="height: 0.00%">
	<div class="audio" style="height: 1.00% "></div>
	<div class="visual" style="height: 1.00% "></div>
	<div class="writing" style="height: 1.00% "></div>
</div>
<div class="d" id="w2019-06-07" style="height: 16.26%">
	<div class="audio" style="height: 2.38% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 97.62% "></div>
</div>
<div class="d" id="w2019-06-08" style="height: 1.16%">
	<div class="audio" style="height: 66.67% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 33.33% "></div>
</div>
<div class="d" id="w2019-06-09" style="height: 14.32%">
	<div class="audio" style="height: 16.22% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 83.78% "></div>
</div>
<div class="d" id="w2019-06-10" style="height: 47.61%">
	<div class="audio" style="height: 13.01% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 86.99% "></div>
</div>
<div class="d" id="w2019-06-11" style="height: 59.22%">
	<div class="audio" style="height: 4.58% "></div>
	<div class="visual" style="height: 4.58% "></div>
	<div class="writing" style="height: 90.85% "></div>
</div>
<div class="d" id="w2019-06-12" style="height: 77.02%">
	<div class="audio" style="height: 5.53% "></div>
	<div class="visual" style="height: 10.05% "></div>
	<div class="writing" style="height: 84.42% "></div>
</div>
<div class="d" id="w2019-06-13" style="height: 18.19%">
	<div class="audio" style="height: 2.13% "></div>
	<div class="visual" style="height: 23.40% "></div>
	<div class="writing" style="height: 74.47% "></div>
</div>
<div class="d" id="w2019-06-14" style="height: 34.83%">
	<div class="audio" style="height: 4.44% "></div>
	<div class="visual" style="height: 10.00% "></div>
	<div class="writing" style="height: 85.56% "></div>
</div>
<div class="d" id="w2019-06-15" style="height: 53.02%">
	<div class="audio" style="height: 5.11% "></div>
	<div class="visual" style="height: 13.87% "></div>
	<div class="writing" style="height: 81.02% "></div>
</div>
<div class="d" id="w2019-06-16" style="height: 36.77%">
	<div class="audio" style="height: 3.16% "></div>
	<div class="visual" style="height: 2.11% "></div>
	<div class="writing" style="height: 94.74% "></div>
</div>
<div class="d" id="w2019-06-17" style="height: 30.58%">
	<div class="audio" style="height: 13.92% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 86.08% "></div>
</div>
<div class="d" id="w2019-06-18" style="height: 42.57%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-06-19" style="height: 16.26%">
	<div class="audio" style="height: 2.38% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 97.62% "></div>
</div>
<div class="d" id="w2019-06-20" style="height: 39.09%">
	<div class="audio" style="height: 0.99% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 97.01% "></div>
</div>
<div class="d" id="w2019-06-21" style="height: 95.60%">
	<div class="audio" style="height: 4.45% "></div>
	<div class="visual" style="height: 5.26% "></div>
	<div class="writing" style="height: 90.28% "></div>
</div>
<div class="d" id="w2019-06-22" style="height: 3.10%">
	<div class="audio" style="height: 98.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 0.00% "></div>
</div>
<div class="d" id="w2019-06-23" style="height: 1.16%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-06-24" style="height: 26.71%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-06-25" style="height: 1.94%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-06-26" style="height: 2.71%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 85.71% "></div>
	<div class="writing" style="height: 14.29% "></div>
</div>
<div class="d" id="w2019-06-27" style="height: 27.87%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 4.17% "></div>
	<div class="writing" style="height: 95.83% "></div>
</div>
<div class="d" id="w2019-06-28" style="height: 29.80%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-06-29" style="height: 31.74%">
	<div class="audio" style="height: 2.44% "></div>
	<div class="visual" style="height: 1.22% "></div>
	<div class="writing" style="height: 96.34% "></div>
</div>
<div class="d" id="w2019-06-30" style="height: 91.34%">
	<div class="audio" style="height: 0.42% "></div>
	<div class="visual" style="height: 0.42% "></div>
	<div class="writing" style="height: 97.15% "></div>
</div>
<div class="d" id="w2019-07-01" style="height: 36.77%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-07-02" style="height: 0.77%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-07-03" style="height: 0.00%">
	<div class="audio" style="height: 1.00% "></div>
	<div class="visual" style="height: 1.00% "></div>
	<div class="writing" style="height: 1.00% "></div>
</div>
<div class="d" id="w2019-07-04" style="height: 76.25%">
	<div class="audio" style="height: 3.55% "></div>
	<div class="visual" style="height: 3.05% "></div>
	<div class="writing" style="height: 93.40% "></div>
</div>
<div class="d" id="w2019-07-05" style="height: 5.03%">
	<div class="audio" style="height: 15.38% "></div>
	<div class="visual" style="height: 15.38% "></div>
	<div class="writing" style="height: 69.23% "></div>
</div>
<div class="d" id="w2019-07-06" style="height: 30.58%">
	<div class="audio" style="height: 8.86% "></div>
	<div class="visual" style="height: 1.27% "></div>
	<div class="writing" style="height: 89.87% "></div>
</div>
<div class="d" id="w2019-07-07" style="height: 12.39%">
	<div class="audio" style="height: 34.38% "></div>
	<div class="visual" style="height: 3.13% "></div>
	<div class="writing" style="height: 62.50% "></div>
</div>
<div class="d" id="w2019-07-08" style="height: 1.94%">
	<div class="audio" style="height: 20.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 80.00% "></div>
</div>
<div class="d" id="w2019-07-09" style="height: 17.80%">
	<div class="audio" style="height: 26.09% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 73.91% "></div>
</div>
<div class="d" id="w2019-07-10" style="height: 36.77%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-07-11" style="height: 65.80%">
	<div class="audio" style="height: 0.59% "></div>
	<div class="visual" style="height: 0.59% "></div>
	<div class="writing" style="height: 96.82% "></div>
</div>
<div class="d" id="w2019-07-12" style="height: 105.66%">
	<div class="audio" style="height: 2.56% "></div>
	<div class="visual" style="height: 0.37% "></div>
	<div class="writing" style="height: 97.07% "></div>
</div>
<div class="d" id="w2019-07-13" style="height: 13.16%">
	<div class="audio" style="height: 2.94% "></div>
	<div class="visual" style="height: 8.82% "></div>
	<div class="writing" style="height: 88.24% "></div>
</div>
<div class="d" id="w2019-07-14" style="height: 3.48%">
	<div class="audio" style="height: 22.22% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 77.78% "></div>
</div>
<div class="d" id="w2019-07-15" style="height: 8.90%">
	<div class="audio" style="height: 4.35% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 95.65% "></div>
</div>
<div class="d" id="w2019-07-16" style="height: 2.71%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 98.00% "></div>
	<div class="writing" style="height: 0.00% "></div>
</div>
<div class="d" id="w2019-07-17" style="height: 4.26%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 18.18% "></div>
	<div class="writing" style="height: 81.82% "></div>
</div>
<div class="d" id="w2019-07-18" style="height: 11.61%">
	<div class="audio" style="height: 3.33% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 96.67% "></div>
</div>
<div class="d" id="w2019-07-19" style="height: 20.13%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-07-20" style="height: 130.82%">
	<div class="audio" style="height: 0.59% "></div>
	<div class="visual" style="height: 0.59% "></div>
	<div class="writing" style="height: 96.82% "></div>
</div>
<div class="d" id="w2019-07-21" style="height: 49.54%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.78% "></div>
	<div class="writing" style="height: 97.22% "></div>
</div>
<div class="d" id="w2019-07-22" style="height: 69.67%">
	<div class="audio" style="height: 1.11% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 96.89% "></div>
</div>
<div class="d" id="w2019-07-23" style="height: 39.87%">
	<div class="audio" style="height: 0.97% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 97.03% "></div>
</div>
<div class="d" id="w2019-07-24" style="height: 2.71%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-07-25" style="height: 6.58%">
	<div class="audio" style="height: 5.88% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 94.12% "></div>
</div>
<div class="d" id="w2019-07-26" style="height: 19.35%">
	<div class="audio" style="height: 6.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 94.00% "></div>
</div>
<div class="d" id="w2019-07-27" style="height: 90.57%">
	<div class="audio" style="height: 25.64% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 74.36% "></div>
</div>
<div class="d" id="w2019-07-28" style="height: 120.76%">
	<div class="audio" style="height: 1.92% "></div>
	<div class="visual" style="height: 0.64% "></div>
	<div class="writing" style="height: 97.44% "></div>
</div>
<div class="d" id="w2019-07-29" style="height: 142.04%">
	<div class="audio" style="height: 2.72% "></div>
	<div class="visual" style="height: 3.81% "></div>
	<div class="writing" style="height: 93.46% "></div>
</div>
<div class="d" id="w2019-07-30" style="height: 131.98%">
	<div class="audio" style="height: 0.29% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 97.71% "></div>
</div>
<div class="d" id="w2019-07-31" style="height: 107.98%">
	<div class="audio" style="height: 0.72% "></div>
	<div class="visual" style="height: 1.08% "></div>
	<div class="writing" style="height: 96.21% "></div>
</div>
<div class="d" id="w2019-08-01" style="height: 104.11%">
	<div class="audio" style="height: 0.37% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 97.63% "></div>
</div>
<div class="d" id="w2019-08-02" style="height: 106.05%">
	<div class="audio" style="height: 0.73% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 97.27% "></div>
</div>
<div class="d" id="w2019-08-03" style="height: 13.16%">
	<div class="audio" style="height: 2.94% "></div>
	<div class="visual" style="height: 2.94% "></div>
	<div class="writing" style="height: 94.12% "></div>
</div>
<div class="d" id="w2019-08-04" style="height: 5.81%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 66.67% "></div>
	<div class="writing" style="height: 33.33% "></div>
</div>
<div class="d" id="w2019-08-05" style="height: 66.57%">
	<div class="audio" style="height: 14.53% "></div>
	<div class="visual" style="height: 0.58% "></div>
	<div class="writing" style="height: 84.88% "></div>
</div>
<div class="d" id="w2019-08-06" style="height: 18.19%">
	<div class="audio" style="height: 82.98% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 17.02% "></div>
</div>
<div class="d" id="w2019-08-07" style="height: 42.96%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 1.80% "></div>
	<div class="writing" style="height: 96.20% "></div>
</div>
<div class="d" id="w2019-08-08" style="height: 10.06%">
	<div class="audio" style="height: 3.85% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 96.15% "></div>
</div>
<div class="d" id="w2019-08-09" style="height: 120.37%">
	<div class="audio" style="height: 2.89% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 97.11% "></div>
</div>
<div class="d" id="w2019-08-10" style="height: 114.18%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-08-11" style="height: 130.05%">
	<div class="audio" style="height: 1.49% "></div>
	<div class="visual" style="height: 1.79% "></div>
	<div class="writing" style="height: 96.73% "></div>
</div>
<div class="d" id="w2019-08-12" style="height: 95.21%">
	<div class="audio" style="height: 0.81% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 97.19% "></div>
</div>
<div class="d" id="w2019-08-13" style="height: 75.47%">
	<div class="audio" style="height: 10.26% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 89.74% "></div>
</div>
<div class="d" id="w2019-08-14" style="height: 46.44%">
	<div class="audio" style="height: 2.50% "></div>
	<div class="visual" style="height: 0.83% "></div>
	<div class="writing" style="height: 96.67% "></div>
</div>
<div class="d" id="w2019-08-15" style="height: 25.93%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-08-16" style="height: 84.37%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-08-17" style="height: 6.58%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-08-18" style="height: 21.67%">
	<div class="audio" style="height: 25.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 75.00% "></div>
</div>
<div class="d" id="w2019-08-19" style="height: 30.96%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-08-20" style="height: 89.41%">
	<div class="audio" style="height: 39.39% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 60.61% "></div>
</div>
<div class="d" id="w2019-08-21" style="height: 11.22%">
	<div class="audio" style="height: 6.90% "></div>
	<div class="visual" style="height: 10.34% "></div>
	<div class="writing" style="height: 82.76% "></div>
</div>
<div class="d" id="w2019-08-22" style="height: 11.61%">
	<div class="audio" style="height: 3.33% "></div>
	<div class="visual" style="height: 3.33% "></div>
	<div class="writing" style="height: 93.33% "></div>
</div>
<div class="d" id="w2019-08-23" style="height: 14.32%">
	<div class="audio" style="height: 8.11% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 91.89% "></div>
</div>
<div class="d" id="w2019-08-24" style="height: 24.00%">
	<div class="audio" style="height: 1.61% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 96.39% "></div>
</div>
<div class="d" id="w2019-08-25" style="height: 69.67%">
	<div class="audio" style="height: 4.44% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 95.56% "></div>
</div>
<div class="d" id="w2019-08-26" style="height: 114.95%">
	<div class="audio" style="height: 1.35% "></div>
	<div class="visual" style="height: 1.01% "></div>
	<div class="writing" style="height: 97.64% "></div>
</div>
<div class="d" id="w2019-08-27" style="height: 81.67%">
	<div class="audio" style="height: 1.42% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 96.58% "></div>
</div>
<div class="d" id="w2019-08-28" style="height: 121.14%">
	<div class="audio" style="height: 3.51% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 96.49% "></div>
</div>
<div class="d" id="w2019-08-29" style="height: 56.12%">
	<div class="audio" style="height: 4.83% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 95.17% "></div>
</div>
<div class="d" id="w2019-08-30" style="height: 18.96%">
	<div class="audio" style="height: 2.04% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 97.96% "></div>
</div>
<div class="d" id="w2019-08-31" style="height: 58.44%">
	<div class="audio" style="height: 1.99% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 96.01% "></div>
</div>
<div class="d" id="w2019-09-01" style="height: 65.02%">
	<div class="audio" style="height: 1.19% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 96.81% "></div>
</div>
<div class="d" id="w2019-09-02" style="height: 122.69%">
	<div class="audio" style="height: 0.32% "></div>
	<div class="visual" style="height: 1.26% "></div>
	<div class="writing" style="height: 96.42% "></div>
</div>
<div class="d" id="w2019-09-03" style="height: 126.56%">
	<div class="audio" style="height: 0.92% "></div>
	<div class="visual" style="height: 1.83% "></div>
	<div class="writing" style="height: 97.25% "></div>
</div>
<div class="d" id="w2019-09-04" style="height: 18.19%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-09-05" style="height: 0.00%">
	<div class="audio" style="height: 1.00% "></div>
	<div class="visual" style="height: 1.00% "></div>
	<div class="writing" style="height: 1.00% "></div>
</div>
<div class="d" id="w2019-09-06" style="height: 1.94%">
	<div class="audio" style="height: 20.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 80.00% "></div>
</div>
<div class="d" id="w2019-09-07" style="height: 0.77%">
	<div class="audio" style="height: 50.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 50.00% "></div>
</div>
<div class="d" id="w2019-09-08" style="height: 5.42%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-09-09" style="height: 16.26%">
	<div class="audio" style="height: 2.38% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 97.62% "></div>
</div>
<div class="d" id="w2019-09-10" style="height: 19.74%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-09-11" style="height: 5.03%">
	<div class="audio" style="height: 7.69% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 92.31% "></div>
</div>
<div class="d" id="w2019-09-12" style="height: 0.39%">
	<div class="audio" style="height: 98.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 0.00% "></div>
</div>
<div class="d" id="w2019-09-13" style="height: 1.94%">
	<div class="audio" style="height: 80.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 20.00% "></div>
</div>
<div class="d" id="w2019-09-14" style="height: 1.94%">
	<div class="audio" style="height: 60.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 40.00% "></div>
</div>
<div class="d" id="w2019-09-15" style="height: 0.39%">
	<div class="audio" style="height: 98.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 0.00% "></div>
</div>
<div class="d" id="w2019-09-16" style="height: 0.00%">
	<div class="audio" style="height: 1.00% "></div>
	<div class="visual" style="height: 1.00% "></div>
	<div class="writing" style="height: 1.00% "></div>
</div>
<div class="d" id="w2019-09-17" style="height: 0.00%">
	<div class="audio" style="height: 1.00% "></div>
	<div class="visual" style="height: 1.00% "></div>
	<div class="writing" style="height: 1.00% "></div>
</div>
<div class="d" id="w2019-09-18" style="height: 46.83%">
	<div class="audio" style="height: 3.31% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 96.69% "></div>
</div>
<div class="d" id="w2019-09-19" style="height: 33.29%">
	<div class="audio" style="height: 1.16% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 96.84% "></div>
</div>
<div class="d" id="w2019-09-20" style="height: 25.54%">
	<div class="audio" style="height: 7.58% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 92.42% "></div>
</div>
<div class="d" id="w2019-09-21" style="height: 24.38%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 7.94% "></div>
	<div class="writing" style="height: 92.06% "></div>
</div>
<div class="d" id="w2019-09-22" style="height: 39.09%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 25.74% "></div>
	<div class="writing" style="height: 74.26% "></div>
</div>
<div class="d" id="w2019-09-23" style="height: 0.39%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-09-24" style="height: 15.48%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-09-25" style="height: 29.42%">
	<div class="audio" style="height: 2.63% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 97.37% "></div>
</div>
<div class="d" id="w2019-09-26" style="height: 0.39%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 98.00% "></div>
	<div class="writing" style="height: 0.00% "></div>
</div>
<div class="d" id="w2019-09-27" style="height: 4.64%">
	<div class="audio" style="height: 16.67% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 83.33% "></div>
</div>
<div class="d" id="w2019-09-28" style="height: 6.58%">
	<div class="audio" style="height: 35.29% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 64.71% "></div>
</div>
<div class="d" id="w2019-09-29" style="height: 1.16%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-09-30" style="height: 57.28%">
	<div class="audio" style="height: 3.38% "></div>
	<div class="visual" style="height: 10.81% "></div>
	<div class="writing" style="height: 85.81% "></div>
</div>
<div class="d" id="w2019-10-01" style="height: 18.19%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-10-02" style="height: 17.03%">
	<div class="audio" style="height: 2.27% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 97.73% "></div>
</div>
<div class="d" id="w2019-10-03" style="height: 28.25%">
	<div class="audio" style="height: 1.37% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 96.63% "></div>
</div>
<div class="d" id="w2019-10-04" style="height: 1.94%">
	<div class="audio" style="height: 40.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 60.00% "></div>
</div>
<div class="d" id="w2019-10-05" style="height: 1.16%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-10-06" style="height: 45.67%">
	<div class="audio" style="height: 5.08% "></div>
	<div class="visual" style="height: 2.54% "></div>
	<div class="writing" style="height: 92.37% "></div>
</div>
<div class="d" id="w2019-10-07" style="height: 33.29%">
	<div class="audio" style="height: 1.16% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 96.84% "></div>
</div>
<div class="d" id="w2019-10-08" style="height: 5.42%">
	<div class="audio" style="height: 50.00% "></div>
	<div class="visual" style="height: 50.00% "></div>
	<div class="writing" style="height: 0.00% "></div>
</div>
<div class="d" id="w2019-10-09" style="height: 15.09%">
	<div class="audio" style="height: 58.97% "></div>
	<div class="visual" style="height: 12.82% "></div>
	<div class="writing" style="height: 28.21% "></div>
</div>
<div class="d" id="w2019-10-10" style="height: 70.44%">
	<div class="audio" style="height: 1.65% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 96.35% "></div>
</div>
<div class="d" id="w2019-10-11" style="height: 93.28%">
	<div class="audio" style="height: 0.83% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 97.17% "></div>
</div>
<div class="d" id="w2019-10-12" style="height: 6.19%">
	<div class="audio" style="height: 12.50% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 87.50% "></div>
</div>
<div class="d" id="w2019-10-13" style="height: 1.94%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-10-14" style="height: 12.00%">
	<div class="audio" style="height: 29.03% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 70.97% "></div>
</div>
<div class="d" id="w2019-10-15" style="height: 6.58%">
	<div class="audio" style="height: 5.88% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 94.12% "></div>
</div>
<div class="d" id="w2019-10-16" style="height: 13.16%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-10-17" style="height: 2.71%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-10-18" style="height: 14.71%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-10-19" style="height: 5.42%">
	<div class="audio" style="height: 78.57% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 21.43% "></div>
</div>
<div class="d" id="w2019-10-20" style="height: 6.19%">
	<div class="audio" style="height: 12.50% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 87.50% "></div>
</div>
<div class="d" id="w2019-10-21" style="height: 2.32%">
	<div class="audio" style="height: 33.33% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 66.67% "></div>
</div>
<div class="d" id="w2019-10-22" style="height: 1.55%">
	<div class="audio" style="height: 25.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 75.00% "></div>
</div>
<div class="d" id="w2019-10-23" style="height: 0.39%">
	<div class="audio" style="height: 98.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 0.00% "></div>
</div>
<div class="d" id="w2019-10-24" style="height: 15.48%">
	<div class="audio" style="height: 75.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 25.00% "></div>
</div>
<div class="d" id="w2019-10-25" style="height: 8.13%">
	<div class="audio" style="height: 33.33% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 66.67% "></div>
</div>
<div class="d" id="w2019-10-26" style="height: 4.26%">
	<div class="audio" style="height: 54.55% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 45.45% "></div>
</div>
<div class="d" id="w2019-10-27" style="height: 10.45%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-10-28" style="height: 1.16%">
	<div class="audio" style="height: 98.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 0.00% "></div>
</div>
<div class="d" id="w2019-10-29" style="height: 1.16%">
	<div class="audio" style="height: 98.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 0.00% "></div>
</div>
<div class="d" id="w2019-10-30" style="height: 1.55%">
	<div class="audio" style="height: 98.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 0.00% "></div>
</div>
<div class="d" id="w2019-10-31" style="height: 1.55%">
	<div class="audio" style="height: 98.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 0.00% "></div>
</div>
<div class="d" id="w2019-11-01" style="height: 20.51%">
	<div class="audio" style="height: 5.66% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 94.34% "></div>
</div>
<div class="d" id="w2019-11-02" style="height: 15.87%">
	<div class="audio" style="height: 2.44% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 97.56% "></div>
</div>
<div class="d" id="w2019-11-03" style="height: 0.39%">
	<div class="audio" style="height: 98.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 0.00% "></div>
</div>
<div class="d" id="w2019-11-04" style="height: 2.32%">
	<div class="audio" style="height: 0.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 98.00% "></div>
</div>
<div class="d" id="w2019-11-05" style="height: 0.77%">
	<div class="audio" style="height: 50.00% "></div>
	<div class="visual" style="height: 0.00% "></div>
	<div class="writing" style="height: 50.00% "></div>
</div>
<div class="d" id="w2019-11-06" style="height: 0.00%">
	<div class="audio" style="height: 1.00% "></div>
	<div class="visual" style="height: 1.00% "></div>
	<div class="writing" style="height: 1.00% "></div>
</div>
<div class="d" id="w2019-11-07" style="height: 0.00%">
	<div class="audio" style="height: 1.00% "></div>
	<div class="visual" style="height: 1.00% "></div>
	<div class="writing" style="height: 1.00% "></div>
</div>
<div class="d" id="w2019-11-08" style="height: 0.00%">
	<div class="audio" style="height: 1.00% "></div>
	<div class="visual" style="height: 1.00% "></div>
	<div class="writing" style="height: 1.00% "></div>
</div>
<div class="d" id="w2019-11-09" style="height: 0.00%">
	<div class="audio" style="height: 1.00% "></div>
	<div class="visual" style="height: 1.00% "></div>
	<div class="writing" style="height: 1.00% "></div>
</div>
<div class="d" id="w2019-11-10" style="height: 0.00%">
	<div class="audio" style="height: 1.00% "></div>
	<div class="visual" style="height: 1.00% "></div>
	<div class="writing" style="height: 1.00% "></div>
</div>
<div class="d" id="w2019-11-11" style="height: 0.00%">
	<div class="audio" style="height: 1.00% "></div>
	<div class="visual" style="height: 1.00% "></div>
	<div class="writing" style="height: 1.00% "></div>
</div>
