/*=== Reset some basic elements ===*/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/* remove dotted outline */
* { outline: 0 }
button::-moz-focus-inner { border: 0; }

/*=== Basic styling ===*/
body {
    font-family: $base-font-family;
    background-image: none;
    font: $base-font-weight #{$base-font-size}/#{$base-line-height};
    color: $text-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1 !important;
    -moz-font-feature-settings: "kern" 1 !important;
    -o-font-feature-settings: "kern" 1 !important;
    font-feature-settings: "kern" 1 !important;
    font-kerning: normal;
}

/*=== Headings ===*/
h1, h2, h3, h4, h5, h6 {
    font-family: $base-title-family;
    font-weight: bold;
}

/*=== Images ===*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    &.fr {
      float: right;
      padding-left: 30px !important;
      @media #{$breakpoint-mobile} {
        float: none;
      }
    }
}

/*=== Text ===*/
p, li {
    font-weight: 300;
    letter-spacing: 0.2px;
}

.MathJax_SVG_Display {
  // color: darken(white,5%) !important;
}

p {
    margin-bottom: $spacing-unit/3;
}

/*=== Links ===*/
a {
    text-decoration: none;
}

/*=== Blockquotes ===*/
blockquote p { margin: 0 !important; padding: 0 !important;  }
blockquote {
  font-style: italic;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  font-family: $base-title-family;
  padding: $spacing-unit/2;
  margin-bottom: $spacing-unit/2;
  /*font-style: italic;*/

  > :last-child {
      /*margin-bottom: 0;*/
  }
}

article {
  h1, h2, h3, h4, h5, h6 {
    font-size: 150%;
  }
}



/*=== Code formatting ===*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
pre,
code {
    font-size: 14px;
    border: 0px !important;
    font-family: 'Source Code Pro', monospace !important;
}
pre {
    background-color: $highlight-normal;
    padding: $spacing-unit/3;
    margin-bottom: $spacing-unit/3;
    border-radius: none;
    overflow-x: scroll;
}
pre.ascii { background-color: transparent; }
code.highlighter-rouge { background-color: $highlight-normal; padding: 0 5px 0 5px; }


/*=== Tables ===*/
table {
   margin-left: auto;
   margin-right: auto;
   margin-bottom: $spacing-unit/2;
}
th {
    font-family: $base-title-family;
    padding: $spacing-unit/4;
}
td {
    padding: $spacing-unit/10;
}


/*=== Scrollbar ===*/
/*https://gist.github.com/adamblank/7896758 */
*::-webkit-scrollbar{
    width: 2px;
    height: 2px;
}
*::-webkit-scrollbar-track-piece{
    background-color: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: darken(#CBCBCB, 40%);
    outline: 2px solid #FFF;
    outline-offset: -2px;
    border: 0px;
}
*::-webkit-scrollbar-thumb:hover{
    background-color: #909090;
}

.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $highlight-focus;
        }
    }
}

/*===== Lists =====*/
ul {
    margin-bottom: $spacing-unit/3;
    list-style-position: inside;
    li {
      margin-bottom: 5px;
    }
}

/*===== Horizontals =====*/
hr {
    margin: 30px 0;
    background: #f4f4f4;
    opacity: .2;
    height: 1.5px;
    border: none;
}
abbr { margin: 0 10px 0 10px; }

input, textarea, button {
  background-color: transparent;
  margin: 5px;
  margin-left: 0;
  padding: 4px;
  border: none;
  color: white;
  transition: 0.2s;
  font-family: inherit;
  font-size: 14px;
  border-bottom: 2px solid lighten(black, 40%);
  &:focus, &:hover {
    border-bottom-color: white;
  }
}

button:hover { cursor: pointer; }