$writing-c: #9d9488;
$visual-c: #746e65;
$audio-c: #897964;

* {
  box-sizing: border-box !important;
}

html {
  margin: 0;
  background-color: #111;
}

body,
html {
  overflow-x: hidden;
  height: 100%;
}

body {
  background-color: lighten(#c3cfe2, 15%);
  height: 100%;
  @media #{$breakpoint-mobile} {
    margin: 0;
    border-radius: 0;
  }
}

@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

//=================================

@mixin linkStyle {
  color: $text-color;
  font-weight: bold;
  transition: color 0.2s;
  &:hover {
    text-decoration: underline;
    &::after {
      color: #9d9488;
    }
  }
  // &::after {
  //   content: "°";
  // }
}

//=================================
//only show last 2 months of bar data
.week .d {
  display: none;
}
.week .d:nth-last-child(-n + 62) {
  display: flex !important;
}

.week {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  height: 100px;
  .d {
    margin-right: 2px;
    //display: flex;
    flex-flow: column-reverse;
    width: 20px;
    border-radius: 3px;
    min-height: 5px;
    &:not(.selected) {
      opacity: 0.4;
    }
    &.selected {
      opacity: 1;
    }
    * {
      margin-bottom: 2px;
      background-color: #333;
      border-radius: 2px;
      min-height: 20% !important;
    }
    .writing {
      background-color: $writing-c;
    }
    .visual {
      background-color: $visual-c;
    }
    .audio {
      background-color: $audio-c;
    }
  }
}

.footer {
  position: relative;
  z-index: 5;
  display: flex;
  flex-flow: row;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 40px;
  @media #{$breakpoint-mobile} {
    padding: 10px;
  }
  justify-content: space-between;
  align-items: center;
  color: $text-color;
  @media #{$breakpoint-mobile} {
    .center {
      display: none;
    }
  }
  .left h1 {
    font-weight: normal;
  }
  .center {
    h5 {
      font-family: "Source Code Pro", monospace;
      font-size: 16px;
      font-weight: normal;
      a {
        @include linkStyle;
        color: white !important;
      }
    }
    #url {
      span {
        color: lighten($text-color, 50%);
      }
      a {
        &::after {
          content: "";
        }
      }
    }
  }
  .right {
    display: inline-flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
    img {
      height: 20px;
    }
    a {
      padding-left: 20px;
      &:first-child {
        padding-left: 0;
      }
      margin: 0;
      filter: invert(100%);
      &:hover {
        filter: invert(80%);
      }
    }
  }
}

.links {
  margin-bottom: 35px;
  display: flex;
  a {
    color: lighten($text-color, 15%);
    padding: 10px 20px;
    margin-right: 5px;
    border-radius: 3px;
    font-size: 16px;
    background-color: #222;
    transition: 0.1s;
    &:hover {
      color: $text-color;
      background-color: #4a7cfb;
      box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.12);
    }
  }
}

.index {
  margin: 40px;
  // width: 100%;
  @media #{$breakpoint-mobile} {
    margin: 10px;
  }
  position: relative;
  z-index: 5;
  color: $text-color;
  // overflow: hidden;
  flex: 1 1 auto;
  margin-bottom: 30px;
  .header {
    &::after {
      content: "\2009\00AC";
      display: inline-block;
      color: black;
      opacity: 0.25;
    }
  }
  .calbox {
    display: block;
    position: relative;
    max-width: 572px;
    box-sizing: border-box;
    @media #{$breakpoint-mobile} {
      // max-width: 100%;
      display: flex;
      flex-flow: column;
      // align-items: flex-start;
    }
    .stats {
      margin-bottom: 20px;
    }
    .calender {
      display: grid;
      grid-template-rows: repeat(7, 0fr);
      grid-template-columns: repeat(999, 0fr);
      grid-auto-flow: column;
      @media #{$breakpoint-mobile} {
        grid-template-rows: repeat(999, 0fr);
        grid-template-columns: repeat(18, 0fr);
        grid-auto-flow: row;
      }
    }
    .item {
      width: 20px;
      height: 20px;
      margin: 1px;
      background-color: rgba(0, 0, 0, 0.12);
      text-align: center;
      border-radius: 2px;
      transition: 0.1s;
      display: flex;
      // align-items: center;
      justify-content: center;
      color: white !important;

      &.writing {
        background: #9d9488;
      }
      &.visual {
        background: #746e65;
      }
      &.audio {
        background: #897964;
      }

      &:hover {
        background-color: #555 !important;
        cursor: pointer;
      }
    }
    .caldesc {
      display: flex;
      flex-flow: row;
      align-items: center;
      margin-top: 20px;
      #date {
        margin: 0;
        margin-left: auto;
        font-size: 22px;
        font-family: "Source Code Pro";
        color: #666;
        b {
          color: #333;
          &:not(:first-child) {
            margin-left: 5px;
          }
        }
      }
      span {
        margin-right: 20px;
      }
      .item {
        display: inline !important;
        margin-right: 5px;
        &:nth-child(1) {
          background-color: $writing-c;
        }
        &:nth-child(3) {
          background-color: $visual-c;
        }
        &:nth-child(5) {
          background-color: $audio-c;
        }
      }
    }
    #hider {
      visibility: hidden;
      .day_info {
        position: relative;
        z-index: 2;
        margin-top: -15px;
        display: flex;
        flex-flow: row;
        font-size: 200%;
        justify-content: space-between;
        div {
          flex: 1;
        }
        div {
          h1 {
            font-family: "Source Code Pro", monospace;
            color: $text-color;
          }
          p {
            color: lighten($text-color, 10%);
          }
        }
      }
      .commits {
        max-height: 100%;
        margin-top: 20px;
        .commit {
          display: flex;
          flex-flow: row;
          width: 100%;
          padding: 10px;
          border-radius: 3px;
          margin-bottom: 5px;
          border: 1px solid rgba(51, 51, 51, 0.2);
          transition: 0.1s;
          cursor: pointer;
          &:hover {
            border: 1px solid grey !important;
          }
          * {
            margin: 0;
            line-height: 1;
          }
          .message {
            flex: 1;
          }
          .header {
            display: inline-flex;
            flex-flow: row;
            width: 40%;
            margin-right: 5px;
            color: #666;
            p {
              font-family: "Source Code Pro";
              margin: 0 5px;
            }
            a {
              flex: 1;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              &:hover {
                text-decoration: none !important;
              }
              &::after {
                content: "" !important;
              }
              @include linkStyle;
            }
          }
        }
      }
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill {
  -webkit-text-fill-color: $text-color !important;
}

.ftp {
  font-size: 180%;
  input {
    padding: 10px;
    margin: 0;
  }
  input[type="password"] {
    font-family: "Source Code Pro";
    font-size: 18px;
    text-align: center;
  }
  h1 {
    margin-top: 10px !important;
  }
  p {
    margin-top: -10px;
  }
  img {
    height: 250px;
    width: 250px;
    border-radius: 50% !important;
    margin: 0;
    border: 3px solid $text-color;
    transition: 0.2s;
    background-color: #333;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    &:hover {
      transform: rotate(-5deg);
    }
  }
  .file {
    display: flex;
    align-items: center;
    background-color: #222;
    padding: 10px;
    border-radius: 3px;
    margin-top: 5px;
    p {
      margin: 0 !important;
    }
    *:last-child {
      align-self: flex-end;
      margin: 0 !important;
      margin-left: auto !important;
    }
  }
}

.content {
  height: 100vh;
}
//=======================================
.nav {
  @media #{$breakpoint-mobile} {
    // text-align: center;
    margin-top: 30px;
  }
  margin-bottom: 30px;
  h1 {
    color: $text-color;
    margin-bottom: 5px;
  }
  .nav-links {
    // width: 60%;
    // min-width: 400px;
    @media #{$breakpoint-mobile} {
      width: 100%;
      min-width: initial;
      text-align: center;
      a {
        // &:last-child {
        //   display: none;
        // }
        margin-bottom: 10px;
        margin-left: 15px;
        &:first-child {
          margin-left: 0;
        }
      }
      span {
        display: none;
      }
    }
    a {
      display: inline-block;
      @include linkStyle;
    }
    span {
      color: grey;
      padding: 0 15px;
      font-size: 16px;
    }
  }
}

.core {
  // width: 100%;
  // height: 100%;
  // display: flex;
  // flex-flow: row;
  // justify-content: center;

  .body {
    width: 60vw;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 80px;
    // padding-top: 30px;
    height: 100%;
    @media #{$breakpoint} {
      width: 100%;
    }

    article #md5 {
      display: inline-block;
      float: right;
      margin-left: auto;
      opacity: 0.2;
      @media #{$breakpoint-mobile} {
        display: none;
      }
    }

    article,
    .page {
      ul {
        color: #333;
        // list-style-type: circle;
        line-height: 1.3;
        margin-left: 20px;
        margin-bottom: 10px;
        li a {
          @include linkStyle;
        }
      }
      h1,
      h2,
      h3,
      h4,
      h5 {
        font-size: 200%;
        // color: darken(#fff, 50%);
        font-family: "Helvetica";
        line-height: 1.5;
        font-weight: normal;
        margin-bottom: 5px;
        margin-top: 30px;
        letter-spacing: -1px;
      }
      h1:first-child {
        margin-top: 0;
        margin-bottom: 0;
        & + * {
          a {
            @include linkStyle;
          }
        }
      }
      img {
        margin: 20px auto;
        border-radius: 2px;
        // box-shadow: 0 9px 30px 0 rgba(35,39,42,.1);
        max-height: 40vh;
        max-width: 80%;
      }
      p {
        color: #333 !important;
        margin-bottom: 10px;
        a {
          @include linkStyle;
        }
      }
      p,
      a,
      li,
      ul,
      b,
      i,
      blockquote p {
        font-size: 18px;
        line-height: 1.5;
      }
    }
  }
}

.post-line h4 {
  font-size: 100% !important;
  letter-spacing: 0px !important;
  margin: 0 !important;
}

.page {
  display: flex;
  flex-flow: column;
}

.post-line {
  display: flex;
  flex-flow: row;
  align-items: center;
  color: #333 !important;
  border-radius: 1px;
  &:hover {
    h4 {
      transform: translateX(15px);
    }
  }
  &#has_desc {
    @media #{$breakpoint-mobile} {
      span {
        display: none;
      }
    }
    align-items: flex-start;
    h4 {
      min-width: 200px;
    }
  }
  h4 {
    transition: 0.2s;
    color: #222 !important;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  code {
    white-space: nowrap;
  }
}

//========================

.comment.child {
  margin-top: 10px;
  margin-left: 20px;
  padding-top: 5px;
  padding-left: 10px;
  border-left: 2px solid #666;
}

.js-comments {
  border-left: 2px solid #666;
}

.comment {
  padding-left: 10px;
  a {
    @include linkStyle;
  }
  .comment__header {
    display: flex;
    flex-flow: row;
    & > * {
      padding-right: 10px;
    }
    .comment__author-name {
      font-weight: bold;
    }
    .comment__timestamp {
    }
    .comment__email {
      color: #333 !important;
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 0;
    }
  }
  .comment__content {
  }
  .comment__reply {
  }
}

img[src*="#50"] {
  width: 50%;
  @media #{$breakpoint-mobile} {
    width: 100%;
  }
}

.create_comment {
  textarea {
    display: block;
    width: 100%;
  }
}

blockquote {
  padding: 10px;
  margin: 20px;
}

.MathJax_SVG_Display {
  color: #333 !important;
}

.store-item {
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 2px;
  .left {
    width: 25%;
    img {
      margin-bottom: 0 !important;
    }
  }
  .right {
    // filter: invert(1);
    padding-left: 20px;
    width: 100%;
    display: flex;
    flex-flow: column;
    .links {
      align-self: flex-end;
      margin-top: auto;
      margin-right: auto;
      * {
        font-size: 14px !important;
      }
    }
    .header {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      h1 {
        margin-top: 0;
        line-height: 0.8;
      }
      p {
        padding: 5px 10px;
        align-self: flex-end;
        margin: 0;
        margin-left: auto;
        border: 1px solid white;
        border-radius: 3px;
        transition: 0.2s;
        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}

.project-section {
  margin-top: 10px;
  & + a {
    @include linkStyle;
    &::after {
      content: "→";
    }
  }
}

img[src*="#fit"] {
  width: 70%;
}

.section-nav {
  width: 40%;
  margin: 0 !important;
  float: right;
  margin-left: 30px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0.1);
  ul,
  li {
    list-style-type: none !important;
  }
  a {
    font-weight: normal !important;
  }
}

._4picrow {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

  img {
    width: 24% !important;
  }
}

.commentFormInputBar {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: flex-end;
  .g-recaptcha {
    margin-left: auto;
  }
  @media #{$breakpoint-mobile} {
    // flex-flow: column;
    // align-items: flex-start;
  }
}

#search-bar {
  background-color: white;
  color: #333;
  border-bottom: 0px;
  border-radius: 3px;
  text-align: right;
  background-size: 30px;
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: 0px 3px;
  background-image: url("data:image/svg+xml,%3Csvg class='vector' width='300px' height='300px' xmlns='http://www.w3.org/2000/svg' baseProfile='full' version='1.1'%3E%3Cpath id='layer_1' d='M185,95 L245,155 L185,215' style='stroke: rgb(0, 0, 0); stroke-width: 17.5; stroke-linecap: round; stroke-linejoin: round; fill: none; '%3E%3C/path%3E%3C/svg%3E");
}

#search-results {
  list-style: none;
  margin-top: 20px;
  margin-left: 0;
  .search-item {
    margin-bottom: 15px;
  }
}

span#small {
  font-size: 80%;
  color: grey !important;
}

p.caption {
  text-align: center;
  font-style: italic;
}

.about-image {
  position: relative;
  width: 100%;
  overflow: hidden;
  max-height: 30vh;
  margin-bottom: 10px;
  img.no-blur {
    height: 30vh;
    width: 100%;
    z-index: 9;
    position: relative;
    margin: auto !important;
    object-fit: contain;
    object-position: center;
  }
  .relative {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      height: 30vh;
      width: 100%;
      object-fit: cover;
      object-position: center;
      margin: auto !important;
      max-height: 100%;
      filter: blur(5px);
      transform: scale(1.5);
    }
  }
}

p.small {
  font-size: 14px !important;
  a {
    font-size: 14px !important;
  }
}
