@charset "utf-8";

$accent-clr: #bdadd1;

$lt-grey-clr: #fafafa;
$grey-clr: #edeff1;
$drk-grey-clr: #afbec5;

$fnt-clr: #959da2;
$lt-fnt-clr: #d7dee2;

//  MEDIA QUERIES
//––––––––––––––––––––––––––––––––––––––––––––––––––
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1921px,
);

//  RESPOND ABOVE
//––––––––––––––––––––––––––––––––––––––––––––––––––
// @include respond-above(sm) {}
@mixin respond-above($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

//  RESPOND BELOW
//––––––––––––––––––––––––––––––––––––––––––––––––––
// @include respond-below(sm) {}
@mixin respond-below($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

//  RESPOND BETWEEN
//––––––––––––––––––––––––––––––––––––––––––––––––––
// @include respond-between(sm, md) {}
@mixin respond-between($lower, $upper) {
  @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {
    $lower-breakpoint: map-get($breakpoints, $lower);
    $upper-breakpoint: map-get($breakpoints, $upper);

    @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
      @content;
    }
  } @else {
    @if (map-has-key($breakpoints, $lower) == false) {
      @warn 'Your lower breakpoint was invalid: #{$lower}.';
    }

    @if (map-has-key($breakpoints, $upper) == false) {
      @warn 'Your upper breakpoint was invalid: #{$upper}.';
    }
  }
}

@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

* {
  box-sizing: border-box !important;
}

html {
  margin: 0;
  background-color: #111;
}

body,
html {
  overflow-x: hidden;
  height: 100%;
}

body {
  background-color: #f7f8fb;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  @include respond-below(sm) {
    padding: 0px;
    .header {
      flex-flow: column;
      h1 {
        width: 100%;
        margin: 0;
        text-align: center;
      }
      .navigation {
        padding: 8px 16px;
      }
    }
    .locale {
      display: none !important;
    }
    .content,
    .footer {
      padding: 10px;
    }
  }
}

a {
  color: #333 !important;
}

.header {
  display: flex;
  margin-bottom: 10px;
  background-color: $grey-clr;
  align-items: center;
  * {
    font-size: 18px !important;
  }

  h1 {
    font-family: "Source Code Pro", monospace !important;
    background-color: $accent-clr;
    padding: 8px 16px;
    color: white;
    font-weight: normal;
    margin-right: 16px;
  }

  a.commit {
    margin: 0px 16px;
    color: black;
    opacity: 0.25;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  @include respond-below(sm) {
    a.commit {
      display: none;
    }
  }

  .navigation {
    font-size: 18px;
    white-space: nowrap;
    span {
      color: grey;
      padding: 0 5px;
    }
  }

  .locale {
    margin-left: auto;
    white-space: nowrap;
    a {
      padding: 8px 16px;
      font-weight: normal;
    }

    .en-en {
      background-color: $accent-clr;
      color: white !important;
    }

    .no-no {
      background-color: $accent-clr;
      color: white !important;
    }
  }
}

.list-item {
  display: flex;
  flex-flow: row;
  align-items: center;
  color: #333 !important;
  border-radius: 1px;
  padding: 0 !important;
  &::after {
    content: "" !important;
  }
  &::before {
    content: "" !important;
  }
  h4 {
    font-size: 100% !important;
    letter-spacing: 0px !important;
    margin: 0 !important;
    transition: 0.2s;
    color: #222 !important;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  code {
    min-width: 120px;
    white-space: nowrap;
  }
  &:hover {
    h4 {
      transform: translateX(15px);
    }
  }
}

.content,
.header {
  @include respond-above(xl) {
    width: 40vw;
  }
  @include respond-between(lg, xl) {
    width: 70vw;
  }
  @include respond-between(md, lg) {
    width: 75vw;
  }
  @include respond-between(sm, md) {
    width: 85vw;
  }
  @include respond-below(sm) {
    width: 100vw;
  }
}

article,
section {
  max-width: 100%;
  margin-bottom: 20px;
  #md5 {
    display: inline-block;
    margin-left: auto;
    float: right;
    opacity: 0.2;
  }
  ul {
    color: #333;
    // list-style-type: circle;
    line-height: 1.3;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  h1 {
    &::after {
      content: "\2009\00AC";
      display: inline-block;
      color: black;
      opacity: 0.25;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 200%;
    font-family: "Helvetica";
    line-height: 1.5;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 30px;
    letter-spacing: -1px;
  }
  h1:first-child {
    margin-top: 0;
    margin-bottom: 0;
  }
  img:not(.fotorama__img) {
    margin: 20px auto;
    border-radius: 2px;
    max-height: 40vh;
    max-width: 80%;
  }
  a {
    &::after {
      content: " } ";
      opacity: 0.5;
    }
    &::before {
      content: " { ";
      opacity: 0.5;
    }
  }
  p {
    color: #333 !important;
    margin-bottom: 10px;
  }
  p,
  a,
  li,
  ul,
  b,
  i,
  blockquote p {
    font-size: 18px;
    line-height: 1.5;
  }
}

.footer {
  display: flex;
  margin: 0;
  margin-top: auto;
  align-items: center;
  margin-top: auto;
  opacity: 0.3;
  font-size: 18px !important;
  a {
    width: 15px;
    display: inline-block;
    height: 15px;
    margin-right: 10px !important;
    margin-top: -2px !important;
  }

  .rotonde {
    max-width: 15px;
    height: auto;
    margin: 0;
  }
}

.fotorama {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.about-image {
  width: 20vw;
  height: 20vw;
  max-width: 100% !important;
  @include respond-above(xl) {
    width: 10vw;
    height: 10vw;
  }
  @include respond-above(lg) {
    margin-left: 0 !important;
    margin: 0 !important;
  }
  @include respond-between(sm, md) {
    width: 35vw;
    height: 35vw;
  }
  @include respond-below(sm) {
    width: 80vw;
    height: 80vw;
    margin: 0;
  }
  max-height: none !important;
  border-radius: 50% !important;
  overflow: hidden;
  object-fit: cover;
  object-position: bottom;
  padding: 0 !important;
}

.commit-graph {
  font-size: 18px;
  margin-top: 10px;
  display: grid;
  grid-template-rows: repeat(7, 0fr);
  grid-template-columns: repeat(999, 0fr);
  grid-auto-flow: column;
  user-select: none;
  margin-left: -4px;
  .commit {
    width: 23px;
    text-align: center;
    transition: 0.2s;
    border-radius: 3px;
    &:hover {
      cursor: pointer;
      background-color: $accent-clr;
      color: white;
    }
  }
  @include respond-below(sm) {
    grid-template-rows: repeat(999, 0fr);
    grid-template-columns: repeat(18, 0fr);
    grid-auto-flow: row;
  }
}

.activity-graph {
  display: flex;
  .day {
    font-size: 18px;
    margin-top: auto;
    display: flex;
    flex-flow: column;
    @for $i from 1 through 11 {
      span:nth-child(#{$i}) {
        opacity: $i * 15%;
      }
    }
    span {
      line-height: 0.8;
    }
  }
}

#hider {
  visibility: hidden;
  .day-info {
    position: relative;
    z-index: 2;
    margin-top: -15px;
    display: flex;
    flex-wrap: wrap;
    @include respond-below(sm) {
      .metrics {
        display: flex;
        justify-content: space-between;
      }
      .breakdown {
        flex: 1 1 100%;
        margin-left: 0 !important;
      }
    }
    justify-content: space-between;
    .metrics {
      b {
        font-family: "Source Code Pro", monospace !important;
        font-size: 200% !important;
        font-weight: normal;
      }
    }

    .breakdown {
      margin-left: 20px;
      font-size: 16px;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      b {
        display: flex;
        width: 100%;
        font-weight: normal;
      }
      span {
        margin-left: auto;
        font-weight: normal;
        font-family: "Source Code Pro", monospace !important;
        &::after {
          content: " hrs";
          opacity: 0.4;
        }
      }
    }
    div {
      flex: 1;
    }
    div {
      h1 {
        font-family: "Source Code Pro", monospace;
        color: black;
        &::after {
          content: "";
        }
      }
      p {
        color: lighten(black, 10%);
      }
    }
  }
  .commits {
    max-height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

    .commit-line {
      &--enabled {
        &:hover {
          cursor: pointer;
        }
      }
      &--disabled {
        &:hover {
          cursor: not-allowed;
        }
      }

      h1::after,
      a::after,
      a::before {
        content: "" !important;
      }
      h1 {
        min-width: 25%;
      }
      a,
      .message {
        margin: 0;
      }
      .signed {
        margin-left: auto;
        margin-right: 16px;
      }
      @include respond-below(sm) {
        .message {
          padding: 8px 16px;
        }
      }
    }
  }
}
