---
layout: page
permalink: about
title: about
---

p
  | 21 y/o full stack developer with pcb design on the side at&nbsp;
  a(href="https://daughter.systems") daughter.systems
  br
  | currently working on a livestreaming & vod platform at a startup incubator

.about-image
  img.no-blur(src="https://ftp.cass.si/vwi08hs~0.jpeg")
  .relative
    img(src="https://ftp.cass.si/vwi08hs~0.jpeg")

p.caption !⌘X	

p
  | jeg er lære til snakker på norsk 🇳🇴 
  br
  | also a big fan of 
  a(href="https://www.savethemanatee.org/") sea cows 
  | & sometimes i snowboard too

p.small site 
  | written in 
  a(href='https://pugjs.org') jade
  | , built by 
  a(href='https://gitlab.com/dougbeney/jekyll-bliss') jekyll-bliss
  | , hosted by 
  a(href='https://netlify.com') netlify
  br
  | comments handled by a 
  a(href="https://staticman.net") staticman
  |  instance served on  
  a(href="https://heroku.com/") heroku
  br
  | search implemented with 
  a(href="https://lunrjs.com/") lunr.js
