---
layout: page
permalink: about
title: about
---

p 20

p full stack developer with pcb design on the side
  br
  | i like botany and sea cows - 
  | sometimes i snowboard too

br

p site 
  | written in 
  a(href='https://pugjs.org') jade
  | , built by 
  a(href='https://gitlab.com/dougbeney/jekyll-bliss') jekyll-bliss
  | , hosted by 
  a(href='https://netlify.com') netlify
  br
  | comments handled by a 
  a(href="https://staticman.net") staticman
  |  instance served on  
  a(href="https://heroku.com/") heroku
  br
  | search implemented with 
  a(href="https://lunrjs.com/") lunr.js
