---
layout: page
permalink: about
title: about
---

p 19

p full stack developer with pcb design on the side
  br
  | sometimes i snowboard too

br

p site 
  | written in 
  a(href='https://pugjs.org') jade
  | , built by 
  a(href='https://gitlab.com/dougbeney/jekyll-bliss') jekyll-bliss
  | , served by 
  a(href='https://netlify.com') netlify
