---
layout: page
permalink: contact
title: contact
---

p PGP encrypted e-mails are preferred.

p
  ul
    li m (at) cass (dot) si
    li 
      a(href="https://gitlab.com/cxss") https://gitlab.com/cxss
    li 
      a(href="https://keybase.io/cxss") https://keybase.io/cxss
    li
      a(href="https://steamcommunity.com/id/cxss/") https://steam.com/id/cxss/
    li
      a(href="https://my.corrhizal.net/cxss")
        strike dat://mcn.io/cxss
      | &nbsp;(soon)
    li cass#3882

code curl https://ftp.{{site.title}}/k.txt | gpg --import 
