---
layout: page
permalink: contact
title: contact
---

p
  ul
    li m (at) cass (dot) si
    li 
      a(href="https://gitlab.com/cxss") https://gitlab.com/cxss
    li
      a(href="https://steamcommunity.com/id/cxss/") https://steam.com/id/cxss/
    li cass#3882

code curl https://ftp.{{site.title}}/k.txt | gpg --import 
