---
layout: page
permalink: ftp
title: ftp
---

.ftp.post
	center
		img(src="https://ftp.cass.si/=kzM2kTO5k.png")
		h1 ftp.cass.si
		p hosting 
			b 213 
			| files
		br
		p#message
		input#token(placeholder="Token", type="password")


script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="/media/js/ftp.js")
	
