---
layout: page
title: posts
---

| {% for post in site.categories.posts %}
| {% if post.url %}
| {% if post.draft == false %}
a.post-line(href="{{ post.url }}")
  code {{ post.date | date: "%d%m%y" }}
  | &nbsp;&nbsp;&nbsp;
  h4 {{ post.title }}
| {% endif %}
| {% endif %}
| {% endfor %}
