---
layout: page
permalink: portfolio
title: portfolio
---


<p>New <a href="https://portfolio.cass.si">portfolio</a> page served via <i>Now.</i></p><br/>{% for paper in site.data.whitepapers %}<a class="post-line" href="{{ paper.url }}"><code>{{ paper.date | date: "%b %d, %y"}}</code>&nbsp;&nbsp;&nbsp;
  <h4>{{ paper.paper }}</h4></a>{% endfor %}
<hr/>{% for paper in site.data.projects %}<a class="post-line" id="has_desc" href="{{ paper.url }}"><code>{{ paper.date | date: "%b %d, %y"}}</code>&nbsp;&nbsp;&nbsp;
  <h4>{{ paper.project }}</h4><span>{{ paper.desc }}</span></a>{% endfor %}
<div class="project-section"></div><a href="https://gitlab.com/{{site.gitlab.username}}">View more on GitLab </a>