---
layout: page
permalink: store
title: store
---

{% for item in site.data.store %}
<div class="store-item">
  <div class="left"><img src="{{item.image}}"/></div>
  <div class="right">
    <div class="header">
      <h1>{{ item.name }}</h1>
      <p> <b>{{ item.price }}</b></p>
    </div>
    <p>{{ item.desc }}</p>
    <div class="links">{% for link in item.links %}
      <p>{{ link[0] }}: <a href="{{ link[1] }}">{{ link[1] }}</a></p>{% endfor %}
    </div>
  </div>
</div>{% endfor %}
<hr/>
<h3>How to purchase</h3>
<ul>
  <li>Decide what you'd like</li>
  <li>Send me an <a href="https://{{site.title}}/contact">e-mail</a> with a list of what you want and the delivery location</li>
  <li>I respond with the final price (including shipping) </li>
  <li>Send monies via BTC or Paypal</li>
  <li>I ship your stuff ;)</li>
</ul>