---
title: cass.si
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
      <h1>cass.si 🪴 🇳🇴</h1>
      <div class="markdown-body">
        {{ content | safe }}
      </div>

      <footer>
        <a class="rotonde no-link-style" href="https://webring.xxiivv.com/#random" target="blank_">
          <img src="https://ftp.cass.si/www/webring.png" />
        </a>
        <span> 2020 · articles & written content available under cc by 4.0</span>
      </footer>
  </body>
</html>
