---
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cass.si
    {% if title %} &mdash; {{ title }}
      {% endif %}
    </title>
    <link rel="stylesheet" href="/assets/css/style.css">
    {# code tag styling #}
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🪴</text></svg>">
  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
      <a href="/" class="no-link-style">
        <img src="https://i.imgur.com/8kssspm.jpeg">
        </a>

        <div class="about">
          {% set snippet %}{% include 'sidebar.md' %}{% endset %}
          {{ snippet | markdown | safe }}
        </div>


    <footer>
      <a class="rotonde no-link-style" href="https://webring.xxiivv.com/#random" target="blank_">
        <img src="https://ftp.cass.si/www/webring.png"/>
      </a>
      <span> 2025 · cass.si</span>
    </footer>
      </div>

      <div class="content">
        {{ content | safe }}
      </div>
    </div>
  </body>
</html>
