doctype
<!--  Last updated: {{ "now" | date: "%Y-%m-%d %H:%M" }}. -->
html(lang="en-GB")
  head
    | {% include head.html %}
  body
    | {% if page.isIndex %}
    .banner-wrapper
      .banner-bar
        .bar
          .left
            .hamburger.hamburger--collapse
              .hamburger-box
                .hamburger-inner
          .center
              .box
                p 캐
                p c
                p 스
                p x
          .right

    .banner-offset
    | {% endif %}

    .content-wrapper
      //- | {% include nav.html %}
      | {{ content }}

    | {% if page.isIndex %}
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    script.
      var scrollTop = 0;
      $(window).scroll(function(){
        scrollTop = $(window).scrollTop();
        //- $('.counter').html(scrollTop);
        if (scrollTop >= 100) {
          $('.banner-wrapper').addClass('scrolled');
          $('.content-wrapper').addClass('scrolled');
        } else if (scrollTop < 100) {
          $('.banner-wrapper').removeClass('scrolled');
          $('.content-wrapper').removeClass('scrolled');
        } 
      });
    script.
      var $hamburger = $(".hamburger");
      $hamburger.on("click", function(e) {
        $hamburger.toggleClass("is-active");
        // Do something else, like open/close menu
      });
    | {% endif %}

    script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-76192160-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-76192160-1');

    //- | {% if page.isIndex == nil %}
    //- script.
    //-   var pathArray = window.location.pathname.split('/');
    //-   var s = "";
    //-   var u = "";
    //-   pathArray.shift()
    //-   for (i = 0; i < pathArray.length; i++) {
    //-     u += "/"+pathArray[i]
    //-     s += "<span> / </span>";
    //-     s += '<a href="'+u+'">'+pathArray[i]+'</a>';
    //-   }
    //-   console.log(s)
    //-   document.getElementById("url").innerHTML = s;
    //- | {% endif %}
