---
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cass.si
    {% if title %} &mdash; {{ title }}
      {% endif %}
    </title>
    <link rel="stylesheet" href="/assets/css/style.css">
    {# code tag styling #}
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
      <a href="/" class="no-link-style">
        <img src="/assets/profile.jpg" style="object-fit: center;">
        </a>

        <div class="about">
          {% set snippet %}{% include 'sidebar.md' %}{% endset %}
          {{ snippet | markdown | safe }}
        </div>

    <footer>
      <a class="rotonde no-link-style" href="https://webring.xxiivv.com/#random" target="blank_">
        <img src="https://ftp.cass.si/www/webring.png"/>
      </a>
      <span> 2025 · cass.si</span>
    </footer>
      </div>

      <div class="content">
        {{ content | safe }}
      </div>
    </div>
  </body>
</html>
