doctype
<!--  Last updated: {{ "now" | date: "%Y-%m-%d %H:%M" }}. -->
html(lang="en-GB")
  head
    | {% include head.html %}
  body
    | {% if page.index %}
    | {% endif %}

    .default-wrapper
        .index
          .header
              h1 cass.si
                a(href="https://gitlab.com/cxss/site/commit/GITCOMMIT") GITCOMMIT
          br
          | {{ content }}
          p.footer
            a.rotonde(href="https://webring.xxiivv.com/#random" target="blank_")
              img(src="https://ftp.cass.si/www/webring.png")
            | 2020 · articles & written content available under cc by 4.0


    script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-76192160-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-76192160-1');