---
layout: default
---

.core
  .body
    | {% include nav.html %}
    article
      h1 {{ page.title }}
      | {% capture time %}{{ content | reading_time }}{% endcapture %}
      i {{ page.date | date: "%Y-%m-%d %H:%M" }}, {{ page.date | timeago }}
        #md5 {{ content | md5 }} 
      br
      br
      | {{ content }}
      //- | {% if page.comments %}
      //- hr
      //- | {% include comments.html %}
      //- | {% endif %}
      script(type="text/javascript", src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_SVG.js")
