* {
  outline: 0;
  box-sizing: border-box !important;
}

html,
body {
  margin: 0;
}

body {
  font-size: 16px;
  background-color: #111;
  color: #fff;
  overflow-x: hidden;

  font-family: "Helvetica", serif;
  background-image: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1 !important;
  -moz-font-feature-settings: "kern" 1 !important;
  -o-font-feature-settings: "kern" 1 !important;
  font-feature-settings: "kern" 1 !important;
  font-kerning: normal;

  .wrapper {
    display: flex;
    width: 100vw;
    padding: 20px;
    // border: 1px solid red;
  }
}

.sidebar {
  position: sticky;
  top: 20px;
  width: 300px;
  margin-right: 20px;
  height: 100vh;

  h2 {
    text-align: center;
    font-size: 32px;
    letter-spacing: 4px;
    margin-top: -32px;
    z-index: 999;
    a {
      &::after {
        content: "~";
      }
      &::before {
        content: "~";
      }
    }
  }

  code {
    color: gray;
  }

  img {
    object-fit: cover;
    width: 50vw;
    height: 50vw;
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    border: 3px solid #333;
    transition: transform 0.2s;
    background-color: #333;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
}

.content {
  flex: 1;
  max-width: 800px;
}

article {
  width: 100%;
  img {
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
}

blockquote {
  border-left: 2px solid #333;
  padding-left: 20px;
  margin-left: 20px;
}

.fr {
  float: right;
  margin-left: 10px;
  max-height: 400px;
  width: auto;
}

.list {
  li {
    overflow: hidden;
    text-overflow: ellipsis;
    list-style: none;
    white-space: nowrap;
    code {
      color: gray;
    }
    a {
      &::after,
      &::before {
        content: "";
      }
    }
  }
}

p,
a,
li,
ul,
b,
i,
blockquote p {
  line-height: 1.5;
}

footer {
  display: flex;
  padding: 20px;
  margin-top: auto;
  align-items: center;
  margin-top: auto;
  color: gray;
  a {
    width: 15px;
    display: inline-block;
    height: 15px;
    margin-right: 10px !important;
    margin-top: -2px !important;
  }

  .rotonde {
    max-width: 15px;
    height: auto;
    margin: 0;
    filter: invert(1);
  }
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

a:not(.no-link-style) {
  text-decoration: none;
  padding: 0 2px;
  &::after {
    content: "]]";
    opacity: 0.5;
  }
  &::before {
    content: "[[";
    opacity: 0.5;
  }
}

@import "https://fonts.googleapis.com/css?family=Inconsolata&display=swap";
a {
  color: #fff;
  text-decoration: none;
  &:hover {
    color: violet;
  }
}

span {
  color: gray;
}

h1,
h2,
h3,
h4,
h5 {
  color: gray;
  margin-bottom: 5px;
  font-weight: normal;
}

hr {
  margin: 30px 0;
  background: #f4f4f4;
  opacity: 0.2;
  height: 1.5px;
  border: none;
}

.post-date {
  display: block;
  margin-top: 10px;
}

@media only screen and (min-width: 1100px) {
  .row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
    img {
      // object-fit: contain;
      max-width: 100%;
    }
  }
}

@media only screen and (max-width: 1100px) {
  body {
    width: 100vw;
    margin: 0;
    margin: 10px 0;
  }
  .wrapper {
    flex-flow: column;
    .sidebar,
    .content {
      width: 100vw;
      padding: 10px;
    }
    .sidebar {
      display: flex;
      align-items: center;
      position: relative;
      height: auto;
      width: 100%;
      .about {
        margin-left: 20px;
        margin-top: auto;
      }

      code {
        display: none;
      }
    }
    .content {
      h1:first-child {
        margin-top: 0;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .wrapper {
    padding: 0px !important;
  }
  .sidebar {
    margin-right: 0;
    display: flex;
    flex-flow: column;
    .about {
      margin-left: 0 !important;
    }
  }
}
