* {
  outline: 0;
  box-sizing: border-box !important;
}

html,
body {
  margin: 0;
  font-size: 15px !important;
}

body {
  background-color: #111;
  color: #fff;
  overflow-x: hidden;

  font-family: "Helvetica", serif;
  background-image: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1 !important;
  -moz-font-feature-settings: "kern" 1 !important;
  -o-font-feature-settings: "kern" 1 !important;
  font-feature-settings: "kern" 1 !important;
  font-kerning: normal;

  .wrapper {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    padding: 20px;
    // border: 1px solid red;
  }
}

.sidebar {
  position: sticky;
  display: flex;
  top: 20px;
  flex-direction: column;
  width: 200px;
  margin-right: 20px;
  max-height: 100vh;

  h2 {
    text-align: center;
    letter-spacing: 4px;
    margin-top: -32px;
    display: none;
    z-index: 999;
    a {
    }
  }

  code {
    color: gray;
  }

  img {
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 100%;
    transition: transform 0.2s;
  }
}

.content {
  flex: 1;
  max-width: 600px;
  margin-top: -20px;
}

article {
  width: 100%;
  padding-top: 5px;
  img {
    width: auto;

    max-height: 300px;
    // max-width: 400px;
    margin-bottom: 10px;
  }

  code {
    padding: 2px 4px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(110, 118, 129, 0.3);
    line-height: 1;
  }
}

blockquote {
  border-left: 2px solid #333;
  padding-left: 20px;
  margin-left: 20px;
}

.fr {
  float: right;
  margin-left: 10px;
  max-height: 400px;
  width: auto;
}

.list {
  margin-top: 20px;
  li {
    overflow: hidden;
    text-overflow: ellipsis;
    list-style: none;
    white-space: nowrap;
    code {
      color: gray;
    }
    a {
      &::after,
      &::before {
        content: "";
      }
    }
  }
}

p,
a,
li,
ul,
b,
i,
blockquote p {
  line-height: 1.5;
}

footer {
  display: flex;
  margin-top: auto;
  align-items: center;
  margin-top: auto;
  color: gray;
  a {
    width: 15px;
    display: inline-block;
    height: 15px;
    margin-right: 10px !important;
    margin-top: -2px !important;
  }

  .rotonde {
    max-width: 15px;
    height: auto;
    margin: 0;
    filter: invert(1);
  }
}

pre,
code {
  border-radius: 0 !important;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

a:not(.no-link-style) {
  text-decoration: none;
  padding: 0 2px;
  &::after {
    content: "]]";
    opacity: 0.5;
  }
  &::before {
    content: "[[";
    opacity: 0.5;
  }
}

@import "https://fonts.googleapis.com/css?family=Inconsolata&display=swap";
a {
  color: #fff;
  text-decoration: none;
  &:hover {
    color: violet;
  }
}

span,
.post-date {
  color: gray;
}

h1,
h2,
h3,
h4,
h5 {
  color: gray;
  margin-bottom: 5px;
  font-weight: normal;
}

hr {
  margin: 30px 0;
  background: #f4f4f4;
  opacity: 0.2;
  height: 1.5px;
  border: none;
}

.post-date {
  display: block;
}
