* {
  outline: 0;
  box-sizing: border-box;
}

body {
  overflow: scroll;
  width: 800px;
  font-size: 16px;
  margin: 20px auto;

  font-family: "Helvetica", serif;
  background-image: none;
  color: #333;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1 !important;
  -moz-font-feature-settings: "kern" 1 !important;
  -o-font-feature-settings: "kern" 1 !important;
  font-feature-settings: "kern" 1 !important;
  font-kerning: normal;
}

p,
a,
li,
ul,
b,
i,
blockquote p {
  line-height: 1.5;
}

footer {
  display: flex;
  margin: 0;
  margin-top: auto;
  align-items: center;
  margin-top: auto;
  opacity: 0.3;
  a {
    width: 15px;
    display: inline-block;
    height: 15px;
    margin-right: 10px !important;
    margin-top: -2px !important;
  }

  .rotonde {
    max-width: 15px;
    height: auto;
    margin: 0;
  }
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

a:not(.no-link-style) {
  text-decoration: none;
  padding: 0 2px;
  &::after {
    content: "]]";
    opacity: 0.5;
  }
  &::before {
    content: "[[";
    opacity: 0.5;
  }
}
