---
layout: default
index: true
isIndex: true
---

.calbox
  | {% include nav.html %}
  .stats
    b LOG_COUNT
    |  logs, 
    b HOUR_COUNT
    |  hours, updated 
    b DAYS_AGO
    |  day(s) ago.
  .week#week
    | {% include activitygraph.html %}   

  .calender#calender
    | {% include commitgraph.html %}
  .caldesc
    | {% include commitcount.html %}

    p#date 0000-00-00

  hr
  p#loading Loading data...
  
  #click 
    p Click a 
      b day 
      | to see info.

  #hider
    .day_info#day
      div
        h1#commits 0
        p commits
      div
        h1#hours 0
        p hours
      div.breakdown
        b Productive
          span#stats-productive
        b Non-prod.
          span#stats-nonproductive
        b Languages
          span#stats-language
        b Comms.
          span#stats-communications
        b Other
          span#stats-other

    .commits#info

p.footer
  a.rotonde(href="https://webring.xxiivv.com/#random" target="blank_")
    img(src="https://ftp.cass.si/www/webring.png")
  | 2020 · articles & written content available under cc by 4.0

script(src="/media/js/main.js")

script.
  const compile_date = new Date('{{ site.time }}');
  const today = new Date();
  const timeDiff = Math.abs(today.getTime() - compile_date.getTime());
  dayDifference = Math.ceil(timeDiff / (1000 * 3600 * 24));
  document.body.innerHTML = document.body.innerHTML.replace('DAYS_AGO', dayDifference);
